.container{
    max-width: $max-width;
    margin-left: auto;  
    margin-right: auto;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn{
    width: 154px;
    height: 44px;
    background: #FFF;
    color: #01336D;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #FFF;
    transition-duration: .35s;
    &:hover{
        background: #01336D;
        color: #FFF;
        cursor: pointer;
    }
    i{
        font-size: smaller;
    }
}
    .button {
        background-color: #fff;
        border: none;
        color: #01336D;
        text-align: center;
        height: 44px;
        font-size: 16px;
        width: 154px;
        font-weight: 500;
        transition: all 0.35s;
        cursor: pointer;
        margin-bottom: 47px;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.35s;
    }
  
    .button span:after {
    content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.35s;
    }
  
    .button:hover{
        span {
        padding-right: 20px;    

    }
    } 
  
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
.submit{
    width: 145px;
    height: 57px;
    background: #EA5F1B;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #EA5F1B;
    border-left: none;
    transition-duration: .5s;
    &:hover{
        background-color: #01336D;
        cursor: pointer;
        i{
            opacity: 1;
            right: 20px;
            transform: translateX(10px);
        }
    }
    i{
        opacity: 0;
        display: inline-block;
    transition-duration: .5s;
    font-size: 16px;

    }
}
.grid-icon{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 215px;
    gap: 18px;
    i{
        text-align: center;
        color: rgba(255, 255, 255, 0.65);
        padding-top: 12px;
        padding-bottom: 12px;
        width: 40px;
        border-radius: 50%;
        border: solid rgba(255, 255, 255, 0.65) 1px;
        transition: ease-in-out .5s;
        &:hover{
            background-color: #EA5F1B;
            color: #FFF;
            border-color: #FFF;
            cursor: pointer;
            transition: ease-in-out .5s;

        }
    }

}

ul{
    padding: 0;
}

.urun-btn{
    display: flex;
    width: 49px;
    height: 49px;
    background-color: #f1f1f1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .35s;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #EA5F1B;
        z-index: 0;
        transform: scale(0);
        transform-origin: top right;
        transition: transform ease-in .35s;
    }
    i{
        color: #0000004F;
        z-index: 1;
        transition: ease-in .35s;

    }

}




